<h2 id="form-control-states">Control states</h2>  
  <p>Provide feedback to users or visitors with basic feedback states on form controls and labels.</p>

<!-- Input focus -->
<h3>Input focus</h3>
  <p>We remove the default <code>outline</code> styles on some form controls and apply a <code>box-shadow</code> in its place for <code>:focus</code>.</p>

<div class="bs-example">
  <input type="text" value="This is focused..." class="form-control">
</div>

<%= highlight do %>
  <input type="text" value="This is focused..." class="form-control">
<% end %>

<!-- Disabled input -->
<h3>Disabled input</h3>
  <p>Add the disabled attribute on an input to prevent user input and trigger a slightly different look.</p>

<div class="bs-example">
  <input type="text" disabled="true" placeholder="Disabled input here..." class="form-control">
</div>

<%= highlight do %>
  <input type="text" disabled="true" placeholder="Disabled input here..." class="form-control">
<% end %>