<h3>Ordered</h3>
<p>A list of items in which the order <em>does</em> explicitly matter.</p>

<div class="bs-docs-example">
  <ol>
    <li>Fresh and Clean Air</li>
    <li>Surrounded by Nature</li>
    <li>Parking Space</li>
    <li>IT Friendly</li>
  </ol>
</div>
<pre class="prettyprint linenums">
  &lt;ol&gt;
    &lt;li&gt;Fresh and Clean Air&lt;/li&gt;
    &lt;li&gt;Surrounded by Nature&lt;/li&gt;
    &lt;li&gt;Parking Space&lt;/li&gt;
    &lt;li&gt;IT Friendly&lt;/li&gt;
  &lt;/ol&gt;
</pre>