<h3 id="arrow-links-basic">Basic arrow link</h3>
<div class="bs-example">
  <a class="arrow" href="#">See all images</a>
</div>

<%= highlight do %>
  <a class="arrow" href="#">See all images</a>
<% end %>