<h3 id="arrow-links-group">Arrow link group</h3>
<div class="bs-example">
  <div class="arrow-group">
    <a class="arrow" href="#">Profile</a>
    <a class="arrow" href="#">Photo Gallery</a>
    <a class="arrow" href="#">Product Catalog</a>
  </div>
</div>

<%= highlight do %>
  <div class="arrow-group">
    <a class="arrow" href="#">Profile</a>
  </div>
<% end %>