<h2>Default dotted list</h2>
<p>Show lists of type and value.</p>
<div class="bs-docs-example">
  <ul class="dotted-list">
    <li>
      <span class="type">Tel</span>
      <span class="value">012 869 111</span>
    </li>
  </ul>
</div>
<pre class="prettyprint linenums">
  &lt;ul class="dotted-list"&gt;
    &lt;li&gt;
      &lt;span class="type"&gt;Tel&lt;/span&gt;
      &lt;span class="value"&gt;012 869 111&lt;/span&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
</pre>