<!-- Default -->
<h2 id="dotted-list-default">Default dotted list</h2>
<p>Show lists of type and value.</p>

<div class="bs-example bs-example-type">
  <ul class="dotted-list">
    <li>
      <span class="type">Tel</span>
      <span class="value">012 869 111</span>
    </li>
  </ul>
</div><!-- /example -->
<%= highlight do %>
<ul class="dotted-list">
  <li>
    <span class="type">Tel</span>
    <span class="value">012 869 111</span>
  </li>
</ul>
<% end %>
