<h3>Highlight</h3>
<p>Add <code>dotted-list-highlight</code> to <code>dotted-list</code> to display full highlight when mouseover</p>
<div class="bs-docs-example">
  <ul class="dotted-list dotted-list-highlight">
    <li>
      <span class="type">Tel</span>
      <span class="value">012 869 111</span>
    </li>
  </ul>
</div>
<pre class="prettyprint linenums">
  &lt;ul class="dotted-list dotted-list-highlight"&gt;
    &lt;li&gt;
      &lt;span class="type"&gt;Tel&lt;/span&gt;
      &lt;span class="value"&gt;012 869 111&lt;/span&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
</pre>