<h3>None value</h3>
<p>Add <code>dotted-list-none</code> to <code>li</code> when there is no value.</p>
<div class="bs-docs-example">
  <ul class="dotted-list">
    <li class="dotted-list-none">
      <span class="type">Our Call Center</span>
      <span class="value"></span>
    </li>  
    <li>
      <span class="type">Tel</span>
      <span class="value">012 869 111</span>
    </li>
  </ul>
</div>
<pre class="prettyprint linenums">
  &lt;ul class="dotted-list"&gt;
    &lt;li class="dotted-list-none"&gt;
      &lt;span class="type"&gt;Our Call Center&lt;/span&gt;
      &lt;span class="value"&gt;&lt;/span&gt;
    &lt;/li&gt;  
    &lt;li&gt;
      &lt;span class="type"&gt;Tel&lt;/span&gt;
      &lt;span class="value"&gt;012 869 111&lt;/span&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
</pre>