<h2>With type or value as image</h2>
<div class="bs-docs-example">
  <ul class="dotted-list">
    <li>
      <span class="type">E-Mail</span>
      <span class="value"><img src="/assets/yoolk_styleguide/go@yoolk.com.gif" /></span>
    </li>  
    <li>
      <span class="type"><i class="icon-envelope"></i></span>
      <span class="value">support@yoolk.com</span>
    </li>
  </ul>
</div>
<pre class="prettyprint linenums">
  &lt;ul class="dotted-list"&gt;
    &lt;li&gt;
      &lt;span class="type"&gt;E-Mail&lt;/span&gt;
      &lt;span class="value"&gt;&lt;img src="/assets/yoolk_styleguide/go@yoolk.com.gif" /&gt;&lt;/span&gt;
    &lt;/li&gt;  
    &lt;li&gt;
      &lt;span class="type"&gt;&lt;i class="icon-envelope"&gt;&lt;/i&gt;&lt;/span&gt;
      &lt;span class="value"&gt;support@yoolk.com&lt;/span&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
</pre>