<h3 id="tables-hover-rows-actions">Hover rows actions</h3>
<div class="bs-example">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td><button type="button" class="btn btn-default btn-xs">Action</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td><button type="button" class="btn btn-default btn-xs">Action</button></td>
      </tr>
      <tr>
        <td>3</td>
        <td colspan="2">Larry the Bird</td>
        <td><button type="button" class="btn btn-default btn-xs">Action</button></td>
      </tr>
      </tr>
    </tbody>
  </table>
</div>
<%= highlight do %>
<table class="table table-hover">
  ...
</table>
<% end %>
