<h2>Default thumbnails</h2>
<div class="row">
  <ul class="thumbnails">
    <li class="span5">
      <a href="#" class="thumbnail">
        <img alt="190x200" style="width: 190px; height: 200px;" src="/assets/yoolk_styleguide/thumbnails/190x200.png">
      </a>
    </li>
    <li class="span5">
      <a href="#" class="thumbnail">
        <img alt="190x200" style="width: 190px; height: 200px;" src="/assets/yoolk_styleguide/thumbnails/190x200.png">
      </a>
    </li>
    <li class="span5">
      <a href="#" class="thumbnail">
        <img alt="190x200" style="width: 190px; height: 200px;" src="/assets/yoolk_styleguide/thumbnails/190x200.png">
      </a>
    </li>
    <li class="span5">
      <a href="#" class="thumbnail">
        <img alt="190x200" style="width: 190px; height: 200px;" src="/assets/yoolk_styleguide/thumbnails/190x200.png">
      </a>
    </li>
  </ul>
</div>
<h2>Markup</h2>
<pre class="prettyprint linenums">
  &lt;ul class="thumbnails"&gt;
    &lt;li class="span5"&gt;
      &lt;a href="#" class="thumbnail"&gt;
        &lt;img alt="190x200" style="width: 190px; height: 200px;" src="/assets/yoolk_styleguide/thumbnails/190x200.png"&gt;
      &lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
</pre>