<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
  <div class="container">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="<%= root_path %>" class="navbar-brand">Yoolk Styleguide</a>
    <div class="nav-collapse collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li<% if controller_name == "css" %> class="active" <% end %>>
          <a href="<%= css_path %>">CSS</a>
        </li>
        <li<% if controller_name == "components" %> class="active" <% end %>>
          <a href="<%= components_path %>">Components</a>
        </li>
      </ul>
    </div>
  </div>
</div>
