<h3 id="tags-default">Default tags</h3>
<div class="bs-example">
  <span class='tag'>Finance</span>
  <span class='tag'>Consultants</span>
  <span class='tag'>Supplies</span>
  <span class='tag'>Bubble Tea</span>
</div>

<%= highlight do %>
<span class='tag'>Finance</span>
<span class='tag'>Consultants</span>
<span class='tag'>Supplies</span>
<span class='tag'>Bubble Tea</span>
<% end %>