<h3 id="tags-link">Link in tags</h3>
<div class="bs-example">
  <span class='tag'><a href="#">Finance</a></span>
  <span class='tag'><a href="#">Consultants</a></span>
  <span class='tag'><a href="#">Supplies</a></span>
  <span class='tag'><a href="#">Bubble Tea</a></span>
</div> 

<%= highlight do %>
<span class='tag'><a href="#">Finance</a></span>
<span class='tag'><a href="#">Consultants</a></span>
<span class='tag'><a href="#">Supplies</a></span>
<span class='tag'><a href="#">Bubble Tea</a></span>
<% end %>
