<h3 id="tags-link">Link in tags</h3>
<div class="bs-example">
  <a class="tag" href="#">Finance</a>
  <a class="tag" href="#">Consultants</a>
  <a class="tag" href="#">Supplies</a>
  <a class="tag" href="#">Bubble Tea</a>
</div> 

<%= highlight do %>
<a class="tag" href="#">Finance</a>
<% end %>
