<section id="arrow-link">
  <div class="page-header">
    <h1>Arrow Link</h1>
  </div>

  <div class="bs-docs-example">
    <ul class="arrow-link">
      <li>
        <a href="#">Phnom Penh</a>
      </li>
      <li>
        <a href="#">Siem Reap</a>
      </li>
      <li>
        <a href="#">Preah Sihanouk</a>
      </li>
      <li>
        <a href="#">Banteay Meanchey</a>
      </li>
      <li>
        <a href="#">Battambang</a>
      </li>
      <li>
        <a href="#">Kampong Cham</a>
      </li>
    </ul>
  </div>
  <pre class="prettyprint linenums">
    &lt;ul class="arrow-link"&gt;
      &lt;li&gt;
        &lt;a href="#"&gt;Phnom Penh&lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="#"&gt;Siem Reap&lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="#"&gt;Preah Sihanouk&lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="#"&gt;Banteay Meanchey&lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="#"&gt;Battambang&lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="#"&gt;Kampong Cham&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  </pre>
</section>