<%= content_for :sidenav do %>
  <li>
    <a href="#dotted-list">Dotted List</a>
    <ul class="nav">
      <li><a href="#dotted-list-default">Default Dotted List</a></li>
    </ul>
  </li>
<% end %>

<!-- Dotted List
================================================== -->
<div class="bs-docs-section">
  <div class="page-header">
    <h1 id="dotted-list">Dotted List</h1>
  </div>
  <%= render 'yoolk_styleguide/components/dotted_list/default' %>
  <%#= render 'yoolk_styleguide/components/dotted_list/with_type_or_value_as_image' %>
  <!-- <h2>Options</h2> -->
  <%#= render 'yoolk_styleguide/components/dotted_list/none_value' %>
  <%#= render 'yoolk_styleguide/components/dotted_list/indicator' %>
  <%#= render 'yoolk_styleguide/components/dotted_list/highlight' %>
</div>
