<!-- Dotted List
================================================== -->
<section id="dotted-list">
  <div class="page-header">
    <h1>Dotted List</h1>
  </div>

  <h2>Default dotted list</h2>
  <p>Show lists of type and value.</p>
  <div class="bs-docs-example">
    <ul class="dotted-list">
      <li>
        <span class="type">Tel</span>
        <span class="value">012 869 111</span>
      </li>
    </ul>
  </div>
  <pre class="prettyprint linenums">
    &lt;ul class="dotted-list"&gt;
      &lt;li&gt;
        &lt;span class="type"&gt;Tel&lt;/span&gt;
        &lt;span class="value"&gt;012 869 111&lt;/span&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  </pre>

  <h2>With type or value as image</h2>
  <div class="bs-docs-example">
    <ul class="dotted-list">
      <li>
        <span class="type">E-Mail</span>
        <span class="value"><%= image_tag 'yoolk_styleguide/go@yoolk.com.gif' %></span>
      </li>  
      <li>
        <span class="type"><i class="icon-envelope"></i></span>
        <span class="value">support@yoolk.com</span>
      </li>
    </ul>
  </div>
  
  <h2>Options</h2>
  <h3>None value</h3>
  <p>Add <code>dotted-list-none</code> to <code>li</code> when there is no value.</p>
  <div class="bs-docs-example">
    <ul class="dotted-list">
      <li class="dotted-list-none">
        <span class="type">Our Call Center</span>
        <span class="value"></span>
      </li>  
      <li>
        <span class="type">Tel</span>
        <span class="value">012 869 111</span>
      </li>
    </ul>
  </div>
  <pre class="prettyprint linenums">
    &lt;ul class="dotted-list"&gt;
      &lt;li class="dotted-list-none"&gt;
        &lt;span class="type"&gt;Our Call Center&lt;/span&gt;
        &lt;span class="value"&gt;&lt;/span&gt;
      &lt;/li&gt;  
      &lt;li&gt;
        &lt;span class="type"&gt;Tel&lt;/span&gt;
        &lt;span class="value"&gt;012 869 111&lt;/span&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  </pre>

  <h3>Indicator</h3>
  <p>Add <code>dotted-list-indicator</code> to <code>dotted-list</code> to display small highlight when mouseover</p>
  <div class="bs-docs-example">
    <ul class="dotted-list dotted-list-indicator">
      <li>
        <span class="type">Tel</span>
        <span class="value">012 869 111</span>
      </li>
    </ul>
  </div>
  <pre class="prettyprint linenums">
    &lt;ul class="dotted-list dotted-list-indicator"&gt;
      &lt;li&gt;
        &lt;span class="type"&gt;Tel&lt;/span&gt;
        &lt;span class="value"&gt;012 869 111&lt;/span&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  </pre>

  <h3>Highlight</h3>
  <p>Add <code>dotted-list-highlight</code> to <code>dotted-list</code> to display full highlight when mouseover</p>
  <div class="bs-docs-example">
    <ul class="dotted-list dotted-list-highlight">
      <li>
        <span class="type">Tel</span>
        <span class="value">012 869 111</span>
      </li>
    </ul>
  </div>
  <pre class="prettyprint linenums">
    &lt;ul class="dotted-list dotted-list-highlight"&gt;
      &lt;li&gt;
        &lt;span class="type"&gt;Tel&lt;/span&gt;
        &lt;span class="value"&gt;012 869 111&lt;/span&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  </pre>
</section>