<!-- Pagination
================================================== -->
<section id="pagination">
  <div class="page-header">
    <h1>Pagination</h1>
  </div>
  <%= render 'yoolk_styleguide/components/pagination/standard' %>
</section>  