<section id="tags">
  <div class="page-header">
    <h1>Tags</h1>
  </div>

  <div class="bs-docs-example">
    <ul class="tags">
      <li>
        <a href="#">Office Space</a>
      </li>
      <li>
        <a href="#">Office Building</a>
      </li>
      <li>
        <a href="#">Office Rental Services</a>
      </li>
      <li>
        <a href="#">Business Centres</a>
      </li>
      <li>
        <a href="#">Office Rental</a>
      </li>
    </ul>
  </div>
  <pre class="prettyprint linenums">
    &lt;ul class="tags"&gt;
      &lt;li&gt;
        &lt;a href="#"&gt;Office Space&lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="#"&gt;Office Building&lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="#"&gt;Office Rental Services&lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="#"&gt;Business Centres&lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="#"&gt;Office Rental&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  </pre>
</section>