<!-- Thumbnails
================================================== -->
<section id="thumbnails">
  <div class="page-header">
    <h1>Thumbnails</h1>
  </div>
  <%= render 'yoolk_styleguide/components/thumbnails/default' %>
</section>