<div class="row">
  <div class="span4">
    <ul class="nav nav-list">
      <li><a href="#dotted-list">Dotted List</a></li>
      <li><a href="#pagination">Pagination</a></li>
    </ul>
  </div>
  <div class="span20">
    <%= render 'dotted_list' %>
    <%= render 'pagination' %>
  </div>
</div>