<%= content_for :sidenav do %>
  <li>
    <a href="#tables">Tables</a>
    <ul class="nav">
      <li><a href="#tables-example">Basic example</a></li>
      <li><a href="#tables-hover-rows">Hover rows</a></li>
      <li><a href="#tables-hover-rows-actions">Hover rows actions</a></li>
    </ul>
  </li>
<% end %>

<!-- Tables
================================================== -->
<div class="bs-docs-section">
  <div class="page-header">
    <h1 id="tables">Tables</h1>
  </div>
  <%= render "yoolk_styleguide/css/tables/example" %>
  <h2>Optional classes</h2>
  <p>Add any of the following classes to the <code>.table</code> base class.</p>
  <%= render "yoolk_styleguide/css/tables/hover_rows" %>
  <%= render "yoolk_styleguide/css/tables/hover_rows_actions" %>
</div>
