<h2 id="dot-leaders-example">Basic Example</h2>
<div class="bs-example">
  <ul class="dot-leaders">
    <li>
      <span>Tel</span>
      <span>012 869 111</span>
    </li>
    <li>
      <span>E-Mail</span>
      <span><img src="/assets/yoolk_styleguide/emails/go@yoolk.com.gif" /></span>
    </li>
    <li>
      <span>Website</span>
      <span>www.yoolk.com</span>
    </li>
  </ul>
</div>

<%= highlight do %>
<ul class="dot-leaders">
  <li>
    <span>Tel</span>
    <span>012 869 111</span>
  </li>
</ul>
<% end %>
