<h3 id="dot-leaders-highlight">Dot leaders with highlight</h3>
<p>Add <code>.dot-leaders-highlight</code> to <code>dot-leaders</code> to display full highlight when mouseover.</p>
<div class="bs-example">
  <ul class="dot-leaders dot-leaders-highlight">
    <li>
      <span>Tel</span>
      <span>012 869 111</span>
    </li>
    <li>
      <span>E-Mail</span>
      <span><img src="/assets/yoolk_styleguide/emails/go@yoolk.com.gif" /></span>
    </li>
    <li>
      <span>Website</span>
      <span>www.yoolk.com</span>
    </li>
  </ul>
</div>

<%= highlight do %>
<ul class="dot-leaders dot-leaders-highlight">
  <li>
    <span>Tel</span>
    <span>012 869 111</span>
  </li>
</ul>
<% end %>
