<h2 id="dot-leaders-none-value">None value row class</h2>
<p>Add <code>.dot-leaders-none</code> to <code>&lt;li&gt;</code> when there is no value.</p>
<div class="bs-example">
  <ul class="dot-leaders">
    <li class="dot-leaders-none">
      <span>Our Contact</span>
      <span></span>
    </li>
    <li>
      <span>Tel</span>
      <span>012 869 111</span>
    </li>
    <li>
      <span>E-Mail</span>
      <span><img src="/assets/yoolk_styleguide/emails/go@yoolk.com.gif" /></span>
    </li>
    <li>
      <span>Website</span>
      <span>www.yoolk.com</span>
    </li>
  </ul>
</div>

<%= highlight do %>
<ul class="dot-leaders">
  <li class="dot-leaders-none">
    <span>Our Contact</span>
    <span></span>
  </li>
</ul>
<% end %>
