<!-- Default filter list -->
<h3 id="filter-list-color">Filter list with color</h3>
<p>Add <code>.small</code> for small sizes.</p>
<div class="bs-example">
  <ul class="nav nav-pills nav-stacked nav-filter-color small">
    <li class="active">
      <a href="#">
        <span class="count">15</span>
        Active
      </a>
    </li>
    <li>
      <a href="#">
        <span style="background-color: #84b6eb" class="color">&nbsp;</span>
        <span class="count">6</span>
        Inactive
      </a>
    </li>
  </ul>
</div>

<%= highlight do %>
<ul class="nav nav-pills nav-stacked nav-filter">
  <li class="active">
    <a href="#">
      <span style="background-color: #84b6eb" class="color">&nbsp;</span>
      <span class="count">15</span>
      Active
    </a>
  </li>
  <li>
    <a href="#">
      <span class="count">6</span>
      Inactive
    </a>
  </li>
</ul>
<% end %>