<h2>Table hover with buttons</h2>

<div class="bs-docs-example">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bricks & Clay - Supply & Manufacturing</td>
        <td class="table-btn-group">
          <a class="btn" href="#">Edit</a>
          <a class="btn" href="#">Delete</a>
        </td>
      </tr>
      <tr>
        <td>Construction - Contractors, Consultants & Management</td>
        <td class="table-btn-group">
          <a class="btn" href="#">Edit</a>
          <a class="btn" href="#">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<pre class="prettyprint linenums">
  &lt;table class="table table-hover"&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;Category&lt;/th&gt;
        &lt;th&gt;&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td&gt;Bricks & Clay - Supply & Manufacturing&lt;/td&gt;
        &lt;td class="table-btn-group"&gt;
          &lt;a class="btn" href="#"&gt;Edit&lt;/a&gt;
          &lt;a class="btn" href="#"&gt;Delete&lt;/a&gt;
        &lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;Construction - Contractors, Consultants & Management&lt;/td&gt;
        &lt;td class="table-btn-group"&gt;
          &lt;a class="btn" href="#"&gt;Edit&lt;/a&gt;
          &lt;a class="btn" href="#"&gt;Delete&lt;/a&gt;
        &lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
</pre>