<h2>Hover style</h2>
<p>Enable a hover state on table rows within a <code>tbody</code>.</p>
<p>Add <code>.table-hover</code> class to the <code>.table</code> base class.</p>

<div class="bs-docs-example">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Category</th>
        <th>Alias</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Construction - Contractors, Consultants & Management</td>
        <td>
          <ul>
            <li>Building Construction</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Construction Equipments & Materials - Supplies</td>
        <td>
          <ul>
            <li>Boilers - Construction & Distribution</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<pre class="prettyprint linenums">
  &lt;table class="table table-hover"&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;Category&lt;/th&gt;
        &lt;th&gt;Alias&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td&gt;Construction - Contractors, Consultants & Management&lt;/td&gt;
        &lt;td&gt;
          &lt;ul&gt;
            &lt;li&gt;Building Construction&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;Construction Equipments & Materials - Supplies&lt;/td&gt;
        &lt;td&gt;
          &lt;ul&gt;
            &lt;li&gt;Boilers - Construction & Distribution&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
</pre>