<!-- Dropdowns
================================================== -->
<section id="dotted-list">
  <div class="page-header">
    <h1>Dotted List</h1>
  </div>

  <h2>Example</h2>
  <p>Toggleable, contextual menu for displaying lists of links. Made interactive with the <a href="./javascript.html#dropdowns">dropdown JavaScript plugin</a>.</p>
  <div class="bs-docs-example">
    <ul class="dotted-list">
      <li>
        <span class="type">Tel</span>
        <span class="value">+855 63 967 575</span>
      </li>
    </ul>
  </div>
</section>