<section id="tables">
  <div class="page-header">
    <h1>Tables</h1>
  </div>
  <%= render "yoolk_styleguide/base_css/tables/default" %>
  <%= render "yoolk_styleguide/base_css/tables/hover" %>
  <%= render "yoolk_styleguide/base_css/tables/hover_with_default_buttons" %>
</section>