<section id="tables">
  <div class="page-header">
    <h1>Tables</h1>
  </div>
  <%= render "yoolk_styleguide/base_css/tables/tables_default" %>
  <%= render "yoolk_styleguide/base_css/tables/tables_hover" %>
  <%= render "yoolk_styleguide/base_css/tables/tables_hover_with_default_buttons" %>
</section>