<section id="typographies">
  <div class="page-header">
    <h1>Typography</h1>
  </div>

  <h2 id="headings">Headings</h2>
  <%= render "yoolk_styleguide/base_css/typography/heading" %>
  
  <h2 id="lists">Lists</h2>
  <%= render "yoolk_styleguide/base_css/typography/unordered" %>
  <%= render "yoolk_styleguide/base_css/typography/ordered" %>

</section>
