<div class = "row">
  <div class = "span4">
    <ul class = "nav nav-list">
      <li class = "active"><a href = "#typography">Typography</a></li>
      <li><a href = "#tables">Tables</a></li>
    </ul>
  </div>
  <div class = "span20">
    <%= render "typography" %>
    <%= render "tables" %>
  </div>
</div>