<h2 id="type-headings">Headings</h2>
<p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code> are available.</p>

<div class="bs-example bs-example-type">
  <table class="table">
    <tbody>
      <tr>
        <th><h1>Bootstrap heading</h1></th>
        <td>Semibold 38px</td>
      </tr>
      <tr>
        <th><h2>Bootstrap heading</h2></th>
        <td>Semibold 32px</td>
      </tr>
      <tr>
        <th><h3>Bootstrap heading</h3></th>
        <td>Semibold 24px</td>
      </tr>
      <tr>
        <th><h4>Bootstrap heading</h4></th>
        <td>Semibold 18px</td>
      </tr>
      <tr>
        <th><h5>Bootstrap heading</h5></th>
        <td>Semibold 16px</td>
      </tr>
      <tr>
        <th><h6>Bootstrap heading</h6></th>
        <td>Semibold 12px</td>
      </tr>
    </tbody>
  </table>
</div>

<%= highlight do %>
<h1>...</h1>
<h2>...</h2>
<h3>...</h3>
<h4>...</h4>
<h5>...</h5>
<h6>...</h6>
<% end %>
