<h2>Default styles</h2>
<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username / Password</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <ul>
          <li>username: @modo</li>
          <li>Password: 123456789</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>
        <ul>
          <li>username: @fat</li>
          <li>Password: 123456789</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>