<h2>Optional classes</h2>
<p>.table-hover</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <ul>
          <li>username: @fat</li>
          <li>Password: 123456789</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>
        <ul class = "unstyled">
          <li>username: @fat</li>
          <li>Password: 123456789</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>