<div class="bs-docs-example">
  <ul class="btn-pager btn-pager-right">
    <a href="#" class="btn"><i class="icon-chevron-left"></i></a>
    <a href="#" class="btn"><i class="icon-chevron-right"></i></a>
  </ul>
</div> 
<pre class="prettyprint linenums">
  &lt;ul class="btn-pager btn-pager-right"&gt;
    &lt;a href="#" class="btn"&gt;&lt;i class="icon-chevron-left"&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;a href="#" class="btn"&gt;&lt;i class="icon-chevron-right"&gt;&lt;/i&gt;&lt;/a&gt;
  &lt;/ul&gt; 
</pre>    