<h2>Alignment</h2>
<p>Add one of two optional classes to change the alignment of button pager links: <code>.btn-pager-centered</code> and <code>.btn-pager-right</code></p>
<div class="bs-docs-example">
  <ul class="btn-pager btn-pager-centered">
    <a href="#" class="btn"><i class="icon-chevron-left"></i></a>
    <a href="#" class="btn"><i class="icon-chevron-right"></i></a>
  </ul>
</div> 
<pre class="prettyprint linenums">
  &lt;ul class="btn-pager btn-pager-centered"&gt;
    &lt;a href="#" class="btn"&gt;&lt;i class="icon-chevron-left"&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;a href="#" class="btn"&gt;&lt;i class="icon-chevron-right"&gt;&lt;/i&gt;&lt;/a&gt;
  &lt;/ul&gt; 
</pre>    