<h2>Disabled and active states</h2>
<p>Links are customizable for different circumstances. Use <code>.disabled</code> for unclickable links</p>
<div class="bs-docs-example">
  <ul class="btn-pager">
    <span class="btn disabled"><i class="icon-chevron-left"></i></span>
    <a href="#" class="btn"><i class="icon-chevron-right"></i></a>
  </ul>
</div> 
<pre class="prettyprint linenums">
  &lt;ul class="btn-pager"&gt;
    &lt;span class="btn disabled"&gt;&lt;i class="icon-chevron-left"&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;a href="#" class="btn"&gt;&lt;i class="icon-chevron-right"&gt;&lt;/i&gt;&lt;/a&gt;
  &lt;/ul&gt;
</pre>    