<!-- Dotted List
================================================== -->
<section id="dotted-list">
  <div class="page-header">
    <h1>Dotted List</h1>
  </div>

  <h2>Default dotted list</h2>
  <p>Show list of type and value such as communications</p>
  <div class="bs-docs-example">
    <ul class="dotted-list">
      <li>
        <span class="type">Tel</span>
        <span class="value">+855 12 999 888</span>
      </li>
    </ul>
  </div>
  <pre class="prettyprint linenums">
    &lt;ul class="dotted-list"&gt;
      &lt;li&gt;
        &lt;span class="type"&gt;Tel&lt;/span&gt;
        &lt;span class="value"&gt;+855 12 999 888&lt;/span&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  </pre>
</section>