<h3 id="panels-action">Panel with action</h3>
<div class="bs-example">
  <div class="panel panel-flush">
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
      <span class="panel-heading-right"><a class="btn btn-default btn-xs" href="#">Create a new item</a></span>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Header</th>
          <th>Another Header</th>
          <th>Header the third</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Value</td>
          <td>Another value</td>
          <td>... and another</td>
          <td class="text-right">
            <a class="btn btn-default btn-xs" href="#">Edit</a>
            <a class="btn btn-danger btn-xs" href="#">Delete</a>
          </td>
        </tr>
        <tr>
          <td>Value</td>
          <td>Another value</td>
          <td>... and another</td>
          <td class="text-right">
            <a class="btn btn-default btn-xs" href="#">Edit</a>
            <a class="btn btn-danger btn-xs" href="#">Delete</a>
          </td>
        </tr>
        <tr>
          <td>Value</td>
          <td>Another value</td>
          <td>... and another</td>
          <td class="text-right">
            <a class="btn btn-default btn-xs" href="#">Edit</a>
            <a class="btn btn-danger btn-xs" href="#">Delete</a>
          </td>
        </tr>     
      </tbody>
    </table>
  </div>
</div>

<%= highlight do %>
<div class="panel panel-flush">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
    <span class="panel-heading-right"><a class="btn btn-default btn-xs" href="#">Create a new item</a></span>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Header</th>
        <th>Another Header</th>
        <th>Header the third</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Value</td>
        <td>Another value</td>
        <td>... and another</td>
        <td class="text-right">
          <a class="btn btn-default btn-xs" href="#">Edit</a>
          <a class="btn btn-danger btn-xs" href="#">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>
