<h3 id="panels-heading-right">Panel with heading right</h3>
<div class="bs-example">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
      <span class="panel-heading-right"><span class="label">Default</span></span>
    </div>
    Panel content
  </div>
</div>

<%= highlight do %>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
    <span class="panel-heading-right"><span class="label">Default</span></span>
  </div>
  Panel content
</div>
<% end %>
