<h3 id="panels-heading">Panel with heading</h3>
<div class="bs-example">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
    </div>
    Panel content
  </div>
</div>
<%= highlight do %>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  Panel content
</div>
<% end %>