<h3 id="panels-none">Panel with none</h3>
<div class="bs-example">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
      <span class="panel-heading-right"><a class="btn btn-default btn-xs" href="#">Create a new item</a></span>
    </div>
    <div class="well text-center">No items to show. <a href="#">Create a new item.</a></div>
  </div>
</div>

<%= highlight do %>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
    <span class="panel-heading-right"><a class="btn btn-default btn-xs" href="#">Create a new item</a></span>
  </div>
  <div class="well text-center">No items to show. <a href="#">Create a new item.</a></div>
</div>
<% end %>
