<h3 id="panels-table">Panel with table</h3>
<div class="bs-example">
  <div class="panel panel-flush">
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Header</th>
          <th>Another Header</th>
          <th>Header the third</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Value</td>
          <td>Another value</td>
          <td>... and another</td>
        </tr>
        <tr>
          <td>Value</td>
          <td>Another value</td>
          <td>... and another</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= highlight do %>
<div class="panel panel-flush">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Header</th>
        <th>Another Header</th>
        <th>Header the third</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Value</td>
        <td>Another value</td>
        <td>... and another</td>
      </tr>
      <tr>
        <td>Value</td>
        <td>Another value</td>
        <td>... and another</td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>