<!-- <h3>Pager Default</h3>
<p>Add<code>.btn-pager</code></p>
<div class="bs-docs-example">
  <ul class="btn-pager">
    <a href="#" class="btn"><i class="icon-chevron-left"></i></a>
    <a href="#" class="btn"><i class="icon-chevron-right"></i></a>
  </ul>
</div>
<pre class="prettyprint linenums">
  &lt;ul class="pager"&gt;
    &lt;li&gt;&lt;a href="#" class="btn"&gt;&lt;i class="icon-chevron-left"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#" class="btn"&gt;&lt;i class="icon-chevron-right"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
</pre>     -->