<h2>Standard Pagination</h2>
<div class="bs-docs-example">
  <div class="pagination">
    <ul>
      <li class="disabled"><span>Previous</span></li>
      <li class="active"><span>1</span></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">Last</a></li>
    </ul>
   </div> 
</div>
<pre class="prettyprint linenums">
   &lt;div class="pagination"&gt;
    &lt;ul&gt;
      &lt;li class="disabled"&gt;&lt;span&gt;Previous&lt;/span&gt;&lt;/li&gt;
      &lt;li class="active"&gt;&lt;span&gt;1&lt;/span&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;2&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;3&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;4&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;5&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;Last&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
   &lt;/div&gt;
</pre>